$nqt-dialog-margin: 2rem;

// font families
$nqt-font-family-base: Arial, Helvetica, sans-serif;
$nqt-font-family-headers: 'Source Sans Pro', sans-serif;

// colors
$nqt-grey-10: #EAECF6;
$nqt-grey-20: #DCDFEF;
$nqt-grey-30: #D3D8E6;
$nqt-grey-40: #B9BFD1;
$nqt-grey-50: #9BA4BE;
$nqt-grey-60: #EAECF6;
$nqt-grey-70: #5F677D;
$nqt-grey-80: #50566A;
$nqt-grey-90: #424757;

$nqt-db-green: #32901D;
$nqt-db-blue: #1A268E;
$nqt-db-red: #FF0000;
$nqt-db-teal: #1C7D86;

$nqt-orange-90: #FF8400;
$nqt-yellow-90: #F7C64D;
$nqt-teal-90: #3BC7C9;
$nqt-green-90: #4EC93B;

$nqt-zebra: #F2F3F8;
$nqt-warning: rgba(255, 132, 0, 0.15);

