@import "variables";

:host {
  display: flex;
  flex-direction: row;
}

.quotation-transport-mode {
  height: 14px;
  width: 14px;
  margin: 14px 0 16px $nqt-dialog-margin;
}

.quotation-id-date-properties {
  height: 14px;
  color: $nqt-grey-80;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;
}

.quotation-id {
  width: 85px;
  font-weight: bold;
  margin: 16px 0 14px 8px;
}

.quotation-creation-date {
  width: 61px;
  text-align: center;
  margin: 15px 8px 15px 16px;
}

.quotation-status {
  height: 24px;
  width: 86px;
  border-radius: 12px;
  background-color: #ff8400;
  margin: 10px 0;

  .quotation-status-value {
    height: 10px;
    width: 52px;
    color: white;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 10px;
    margin-left: 3px;
  }

  .quotation-status-info {
    height: 16px;
    width: 16px;
    fill: white;
    margin-left: 8px;
    margin-top: 3px;
    vertical-align: middle;
  }
}
