@import "variables";
@import "mixins";

:host {
  display: block;
}

section {
  @include Gray-10;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 2.75rem;
}

.saveQuotation {
  background-color: $nqt-db-teal;
  color: white;
  font-family: $nqt-font-family-headers;
  border: none;
  padding: 0 2.5rem;
  margin-right: 4rem;
}

nav {
  background-color: $nqt-grey-10;
  height: 2.125rem;
  display: flex;
  align-items: center;
}

svg {
  margin-right: 0.75rem;
}

.backToDashboard {
  font-size: 14px;
  background-color: $nqt-grey-10;
  color: $nqt-grey-90;
  border: none;
  margin-top: 0.5rem;
  margin-bottom: 0.625rem;
  text-decoration: none;
}
